$black_russian: hsl(225, 41%, 11%);
$paua: hsl(243, 45%, 19%);
$royal_blue: hsl(225, 76%, 55%);
$midnight_express: hsl(219, 29%, 18%);

$cloud_burst: hsl(217, 21%, 27%);
$east_bay: hsl(217, 16%, 35%);
$link_water: hsl(215, 23%, 84%);
