@import './fonts';

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flexCustom($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin inlineFlexCustom($direction, $justify, $align) {
  display: inline-flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin typography($size) {
  font-size: map-get($font-size, $size);
  font-family: $font-family;
}

@mixin font_size($size) {
  font-size: map-get($font-size, $size);
}
